<?xml version="1.0"?>
<monthly>
	<event>
		<id>1</id>
		<name>Warsztaty programowania gry medycznej</name>
		<startdate>2016-11-12</startdate>
		<enddate>2016-11-12</enddate>
		<starttime>09:00</starttime>
		<endtime>15:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/235390032/</url>
	</event>
	<event>
		<id>1</id>
		<name>HackNight i integracja</name>
		<startdate>2016-11-11</startdate>
		<enddate>2016-11-12</enddate>
		<starttime>21:00</starttime>
		<endtime>08:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/235335468/</url>
	</event>
	<event>
		<id>1</id>
		<name>Data Science</name>
		<startdate>2016-11-11</startdate>
		<enddate>2016-11-11</enddate>
		<starttime>18:30</starttime>
		<endtime>21:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/235390511/</url>
	</event>
	
	<event>
		<id>1</id>
		<name>Django projekt/projekty - nauka pythona/django.</name>
		<startdate>2016-11-10</startdate>
		<enddate>2016-11-10</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/235390495/</url>
	</event>
	<event>
		<id>1</id>
		<name>Dzien otwarty, dotacje na projekty</name>
		<startdate>2016-11-08</startdate>
		<enddate>2016-11-08</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/235131558/</url>
	</event>
	

	<event>
		<id>1</id>
		<name>Trochę więcej niż podstawy z Gita oraz dzień otwarty</name>
		<startdate>2016-10-25</startdate>
		<enddate>2016-10-25</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/234645556/</url>
	</event>
	<event>
		<id>1</id>
		<name>Akademia Blockchaina z wprowadzeniem do security</name>
		<startdate>2016-10-24</startdate>
		<enddate>2016-10-24</enddate>
		<starttime>18:30</starttime>
		<endtime>22:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/234976382/</url>
	</event>	
	<event>
		<id>1</id>
		<name>Akademia Blockchaina z wprowadzeniem do security</name>
		<startdate>2016-11-07</startdate>
		<enddate>2016-11-07</enddate>
		<starttime>18:30</starttime>
		<endtime>22:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/234976382/</url>
	</event>	
	<event>
		<id>1</id>
		<name>Akademia Blockchaina z wprowadzeniem do security</name>
		<startdate>2016-11-14</startdate>
		<enddate>2016-11-14</enddate>
		<starttime>18:30</starttime>
		<endtime>22:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/234976382/</url>
	</event>	
		<event>
		<id>1</id>
		<name>Koduj dla Polski</name>
		<startdate>2016-11-09</startdate>
		<enddate>2016-11-09</enddate>
		<starttime>18:00</starttime>
		<endtime>21:00</endtime>
		<color>#eeb900</color>
		<url>https://www.facebook.com/events/1612064785756407/</url>
	</event>


	<event>
		<id>1</id>
		<name>Warsztaty z PostgreSQL</name>
		<startdate>2016-11-05</startdate>
		<enddate>2016-11-05</enddate>
		<starttime>10:00</starttime>
		<endtime>16:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/234977985/</url>
	</event>
	<event>
		<id>1</id>
		<name>Stowarzyszenie Transhumanistów: Porozmawiajmy o transhumanizmie</name>
		<startdate>2016-10-27</startdate>
		<enddate>2016-10-27</enddate>
		<starttime>18:30</starttime>
		<endtime>22:00</endtime>
		<color>#eeb900</color>
		<url>https://www.facebook.com/events/638541016320018/</url>
	</event>
	<event>
		<id>1</id>
		<name>Stowarzyszenie Transhumanistów: Porozmawiajmy o AI, spotkanie reorganizacyjne</name>
		<startdate>2016-09-30</startdate>
		<enddate>2016-09-30</enddate>
		<starttime>18:30</starttime>
		<endtime>22:00</endtime>
		<color>#eeb900</color>
		<url>https://www.facebook.com/events/1151148024967629/</url>
	</event>
	<event>
		<id>1</id>
		<name>Spotkanie samonauki Data Science/Machine Learning</name>
		<startdate>2016-10-28</startdate>
		<enddate>2016-10-28</enddate>
		<starttime>18:30</starttime>
		<endtime>22:00</endtime>
		<color>#e25440</color>
		<url></url>
	</event>
	<event>
		<id>1</id>
		<name>Spotkanie samonauki Data Science/Machine Learning</name>
		<startdate>2016-10-21</startdate>
		<enddate>2016-10-21</enddate>
		<starttime>18:30</starttime>
		<endtime>22:00</endtime>
		<color>#e25440</color>
		<url></url>
	</event>
	<event>
		<id>1</id>
		<name>Spotkanie samonauki Data Science/Machine Learning</name>
		<startdate>2016-10-14</startdate>
		<enddate>2016-10-14</enddate>
		<starttime>18:30</starttime>
		<endtime>22:00</endtime>
		<color>#e25440</color>
		<url></url>
	</event>
	<event>
		<id>1</id>
		<name>Spotkanie robocze drona/softu do rozpoznawania ludzi z wysokości</name>
		<startdate>2016-10-5</startdate>
		<enddate>2016-10-5</enddate>
		<starttime>17:30</starttime>
		<endtime>22:00</endtime>
		<color>#e25440</color>
		<url></url>
	</event>
	<event>
		<id>1</id>
		<name>Spotkanie robocze Łazika</name>
		<startdate>2016-10-5</startdate>
		<enddate>2016-10-5</enddate>
		<starttime>17:30</starttime>
		<endtime>22:00</endtime>
		<color>#e25440</color>
		<url></url>
	</event>
	<event>
		<id>1</id>
		<name>Spotkanie samonauki Data Science/Machine Learning</name>
		<startdate>2016-10-7</startdate>
		<enddate>2016-10-7</enddate>
		<starttime>18:30</starttime>
		<endtime>22:00</endtime>
		<color>#e25440</color>
		<url></url>
	</event>
	<event>
		<id>1</id>
		<name>Warsztaty z Linuxa</name>
		<startdate>2016-10-1</startdate>
		<enddate>2016-10-1</enddate>
		<starttime>9:00</starttime>
		<endtime>15:00</endtime>
		<color>#eeb900</color>
		<url>https://hs3-linux.evenea.pl</url>
	</event>

	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-10-25</startdate>
		<enddate>2016-10-25</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/</url>
	</event>

	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-10-18</startdate>
		<enddate>2016-10-18</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/</url>
	</event>

	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-10-11</startdate>
		<enddate>2016-10-11</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/</url>
	</event>

	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-10-4</startdate>
		<enddate>2016-10-4</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/</url>
	</event>
	<event>
		<id>1</id>
		<name>Warsztaty z Amazonem</name>
		<startdate>2016-9-3</startdate>
		<enddate>2016-9-3</enddate>
		<starttime>9:00</starttime>
		<endtime>17:00</endtime>
		<color>#eeb900</color>
		<url>https://hs3-amazon.evenea.pl</url>
	</event>

	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-9-27</startdate>
		<enddate>2016-9-27</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/</url>
	</event>

	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-9-20</startdate>
		<enddate>2016-9-20</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/</url>
	</event>

	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-9-13</startdate>
		<enddate>2016-9-13</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/</url>
	</event>

	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-9-6</startdate>
		<enddate>2016-9-6</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/</url>
	</event>


	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-8-30</startdate>
		<enddate>2016-8-30</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/</url>
	</event>

	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-8-23</startdate>
		<enddate>2016-8-23</enddate>
		<starttime>18:00</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/233494442/</url>
	</event>

	<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-8-16</startdate>
		<enddate>2016-8-16</enddate>
		<starttime>18:45</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/233304517/</url>
	</event>

		<event>
		<id>1</id>
		<name>Dzień otwarty i praca nad projektami</name>
		<startdate>2016-8-9</startdate>
		<enddate>2016-8-9</enddate>
		<starttime>18:45</starttime>
		<endtime>23:00</endtime>
		<color>#eeb900</color>
		<url>https://www.meetup.com/hs3city/events/233210150/</url>
	</event>

<!-- 	<event>
		<id>3</id>
		<name>Another Event</name>
		<startdate>2016-8-29</startdate>
		<enddate></enddate>
		<starttime>9:00</starttime>
		<endtime>10:00</endtime>
		<color>#9cc370</color>
		<url></url>
	</event>

	<event>
		<id>4</id>
		<name>Another Event</name>
		<startdate>2016-8-2</startdate>
		<enddate></enddate>
		<starttime></starttime>
		<endtime></endtime>
		<color>#9f4b99</color>
		<url></url>
	</event>
 -->

</monthly>
