<footer>
    <section class="footer__navigation">

        <a href="{{ site.baseurl }}/">
            <img src="" alt="HS">
        </a>
        <nav>
            {% include nav-links.html menu=site.menus.header %}
        </nav>
        <nav class="socials">
            {% include nav-links.html menu=site.menus.quick %}
        </nav>

    </section>
    <section class="footer__notice">
        <p>&#9400; HackerSpace Trójmiasto.</p>
        <p>Nie działa? <a href="">Zgłoś błąd.</a></p>
    </section>
</footer>