footer {
    font-weight: 100;
    font-size: 13px;
    background-color: $cool-grey;
    margin-top: auto;

    .footer__navigation {
        display: flex;
        align-items: center;

        .socials {
            margin-left: auto;
        }
        
        nav > a {
            margin-left: 20px;
        }

        a {
            text-decoration: none;
        }
    }

    section {
        padding: 1em 3em;
    }

    .footer__notice {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $coolest-grey;
        p {
            display: inline-block;
            &:after {
                content: "";
                position: absolute;
                height: 15px;
                width: 2px;
                background: $white;
                margin-left: 15px;
            }

            &:last-of-type {
                margin-left: 40px;
                &:after {
                    content: none;
                }
            }
        }
    }
}