header {
    padding: 2em 1em;
}

.header__logo {
        height: 1em;
    }

header nav {
    text-transform: lowercase;

    a {
        color: white;
        text-decoration: none;
    }
    a::after {
        content: " |";
        color: red;
    }
    a:first-child::before {
        content: "[ ";
        color: white;
    }
    a:last-child::after {
        content: " ]";
        color: white;
    }
}