body {
    background-color: #111111;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    margin: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 2em 1em;
}

.nav * {
    display: inline-block;
}

.logo {
    width: 70%;
}

nav {
    a {
        color: white;
        text-decoration: none;
    }

    a::after {
        content: " |";
        color: red;
    }

    a:first-child::before {
        content: "[ ";
        color: white;
    }

    a:last-child::after {
        content: " ]";
        color: white;
    }
}

footer {
    background-color: #222;

    margin-top: auto;

    .notice {
        background-color: #333;
    }

    div {
        padding: 1em 3em;
        margin-top: 1em;
    }

    nav {
        a::after, a:first-child::before, a:last-child::after {
        content: "";
        }
    }
}