.landing {
	display: flex;
	align-items: center;
	justify-content: center;


	flex: 1 1 auto;

	.logo {
		display: flex;
		justify-content: center;
		img {
		    width: 500px;
		    height: 100%;
		}
	}

	.thing {
		max-width: 600px;
		width: 80%;
		margin: 3em;
	}
	.content {
		text-align: justify;
	}

	.landing__cta {
		text-align: center;
		a {
			color: $hacker-red;
		}
	}
}