header {
    padding: 1em 1em;
}

.nav img {
    height: 1em;
    float: left;
}

header nav {
    text-transform: lowercase;
    display: inline
    a {
        color: white;
        text-decoration: none !important;
    }
    a::after {
        content: " |";
        color: $hacker-color;
    }
    a:first-child::before {
        content: "[ ";
        color: $hacker-color;
    }
    a:last-child::after {
        content: " ]";
        color: $hacker-color;
    }
}