header {
    padding: 2em 1em;
}

.header__logo {
    height: 1.5em;
}


header nav {
    text-transform: lowercase;
    display: inline
    a {
        color: white;
        text-decoration: none;
    }
    a::after {
        content: " |";
        color: $hacker-color;
    }
    a:first-child::before {
        content: "[ ";
        color: $hacker-color;
    }
    a:last-child::after {
        content: " ]";
        color: $hacker-color;
    }
}