header {
    padding: 1em 1em;
}

.nav img {
    height: 1em;
    float: left;
}

$nbsp: "\0000a0";

header nav {
    text-transform: lowercase;
    display: inline
    a {
        color: white;
        text-decoration: none !important;
    }
    a::after {
        content: "#{$nbsp}|";
        color: $hacker-color;
        display: inline-block;
    }
    a:first-child::before {
        content: "[#{$nbsp}";
        color: $hacker-color;
        display: inline-block;
    }
    a:last-child::after {
        content: "#{$nbsp}]";
        color: $hacker-color;
        display: inline-block;
    }
}
