.landing_svg {
	background: url(/assets/home-bg.svg) $bg-grey no-repeat center center;
	background-size: 800px;
	fill: #212121;
}

.landing {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	flex: 1 1 auto;

	.thing {
		max-width: 600px;
		width: 90%;
	}
	
	a {
		color: $hacker-color;
		text-decoration: unset;
	}

	#slogan {
		margin: auto;
		text-align: center;
	}

	.logo {
		$size: 128px;
		display: flex;
		justify-content: center;
		align-items: center;

		@media only screen and (max-width: 400px) {
			$size: 64px;
		}
		
		img {
			width: -webkit-fill-available;
		    max-width: $size;
			height: 100%;
			margin: 16px;
			border: 5px solid $hacker-color;
			border-radius: $size;
			border-width: $size/20;
		}

		span {
			vertical-align:middle;
			display:inline;
		}
	}

	.landing__cta {
		text-align: center;
		a {
			color: $hacker-color;
		}
	}
}