.landing_svg {
	background: url(/assets/home-bg.svg) $bg-grey no-repeat center center;
	background-size: 800px;
	fill: #212121;
}


.brand {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
	flex: 1 1 auto;
	flex-wrap: wrap;
	
	a {
		color: $hacker-color;
		text-decoration: unset;
	}

	.slogan {
		margin: auto;
		text-align: center;
		flex-basis: 100%;
	}

	.logo {
		$size: 128px;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		span {
			flex-basis: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		
		img {
			max-width: $size;
			margin: 0.67em 0 0;
			border: 5px solid $hacker-color;
			border-radius: $size;
			border-width: $size/20;
		}

		@media screen and (max-width: 600px) {
			$size: 72px;
			flex-wrap: nowrap;
			img {
				margin: 0 2em;
				max-width: $size;
			border-radius: $size;
			border-width: $size/20;
			}
		}
	}
}

.content {
	a {
		color: $hacker-color;
	}

	h2::first-letter {
		color: $hacker-color;
	}
}
