---
layout: default
---
<main>
	<div class="container">
		<h1>{{ page.title }}</h1>


		<section class="contact">
			<p>
				Napisz do nas, ktoś z członków odezwie się do ciebie
			</p>
			<form name="contact" method="POST" netlify>
				<p>
					<input type="text" name="name" placeholder="email" />
				</p>
				<p>
					<textarea name="message" placeholder="wiadomość"></textarea>
				</p>
				<p>
				<div data-netlify-recaptcha></div>
				<button type=”submit”>wyślij</button>
				</p>
			</form>
		</section>
		{{ content }}
	</div>
</main>