<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="assets/style.css">
</head>
<body>
<header>
    <nav id="nav-social">
        <a href="#">fb</a>
        <a href="#">wiki</a>
        <a href="#">github</a>
    </nav>

    <nav id="nav-main">
        <a href="#">o nas</a>
        <a href="#">członkowstwo</a>
        <a href="#">wydarzenia</a>
    </nav>
</header>
<!-- TODO: logo to assets -->
<div><img class="logo" src="{{ site.wikiurl }}/_media/promo/hs_logo_color_trojmiasto.png"></div>
<div class="stub-or-idk">{{ content }}</div>
</body>
</html>