---
layout: meta
---
<body class="landing_svg">
    {% include header.html %}
	<main class="landing">
		
		
	<div class="thing">
		<div class="logo">
		    <img src="/assets/logo_white_full.png">
		</div>
		<div class="content">
			{{ content }}
			<p class="landing__term" id="terminal"></p>
		</div>
		<div class="landing__cta" ><a href="/about">czytaj_więcej();</a></div>
	</div>
	</main>
    {% include footer.html %}
    <link href="assets/terminal.css" rel="stylesheet"/>
	<script src="https://code.jquery.com/jquery-3.4.0.slim.min.js" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.terminal/2.4.0/js/jquery.terminal.min.js" defer></script>
	<script src="assets/console.js" type="text/javascript" defer></script>
</body>
