@import url("https://fonts.googleapis.com/css?family=Inconsolata");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

/*======================================================================
                        typography mixins
=======================================================================*/

$fluid-type-min-vw: 320px;
$fluid-type-max-vw: 1200px;
$min-font-size: 12px;
$max-font-size: 24px;

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}
  
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
            font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
        @media screen and (min-width: $max-vw) {
            font-size: $max-font-size;
        }
        }
    }
}

@mixin fluid-font-size() {
    @include fluid-type($fluid-type-min-vw, $fluid-type-max-vw, $min-font-size, $max-font-size) {
    }
}

/*======================================================================
                        typography definition
=======================================================================*/

@mixin typography($font-size: 13px, $font-weight: 400, $line-height: 1, $letter-spacing: normal) {
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

h1 {
    @include typography(67px, 600, .657, 1.49em);
    font-family: $font-family-2;
    text-align: center;
    color: $white;
}

h2 {
    @include typography(28px, 600, 1.57, 6.43em);
    font-family: $font-family-2;
    color: $white;
}

h5 {
    @include typography(28px, 400, 1.57, 0);
    font-family: $font-family;
    color: $white;
}

h6 {
    @include typography(21px, 400, 0.19, 0);
    font-family: $font-family;
    color: $white;
}

p {
    @include typography(28px, 400, 1.57, 0);
    font-family: $font-family;
    color: $white;
}
