$font-family: "Inconsolata", serif;

/*
=============================================================
                        ** COLORS **
=============================================================
*/

$white: #ffffff;
$bg-grey: #111111;
$cool-grey: #1b1b1b;
$coolest-grey: #212121;
$hacker-color: #0c9;
$cracker-color: #0c99;
