$font-family: "Inconsolata", serif;
$font-family-2: "Lato", serif;

/*
=============================================================-
                        ** COLORS **
=============================================================
*/

$white: #ffffff;
$bg-grey: #111111;
$cool-grey: #1b1b1b;
$coolest-grey: #212121;
$hacker-background: #111111;
$hacker-red: #ff0000;
$cracker-red: #bb0000;

/*
=============================================================
                        ** BREAKPOINTS **
=============================================================
*/

$phone-width: 577px;
$tablet-width: 769px;